header.jumbotron.subhead#overview
  h1 Johnny Five
  section#homeContent
    .page-header
      h1 Motion In/LED Out
        small     --- Catch a motion events and send to your LED
    .row
      .span3
        p Simple Arduino Motion In/LED Out Sketch
        p This is an example of digitalReads and digitalWrites in C.
      .span9
        pre.prettyprint.linenums=examples.arduinoMotion
    .row
      .span3
          h3 Blink the LED pin 13 via noduino websocket.
          p
          p 1. Upload the StandardFirmata sketch
          p 2. Fire up the Node server
          p 3. Load the page at /johnnyfive
      .span9
        pre.prettyprint.linenums=examples.basicLEDJohnny

    // .row.example
    //   .span12#e5-exampleConnection
    //     p
    //       a.btn(href="#")#e5-buttonConnect
    //         i.icon-refresh
    //         |  Connect to Arduino
    //     .alert.alert-info Please connect to your Arduino using the button. 
    //     .alert.hide.alert-error Unable to connect to Arduino!
    //     .alert.hide.alert-success Connected! Button is <label class="label" id="buttonStatus">not pushed</label>